.app{
    width: 98.9vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}